# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build

# Git
.git
.gitignore

# IDE
.idea
.vscode

# OS
.DS_Store

# Environment
.env
.env.*
!.env.example

# Logs
logs
*.log

# Test
*.test.js
*.spec.js
__tests__
coverage

# Documentation
README.md
*.md
docs

# Docker
Dockerfile*
docker-compose*
.dockerignore

# CI/CD
.github
.gitlab-ci.yml
